* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #213a38;
  font-family: consolas;
  overflow: hidden;
  cursor: none;
}
h2 {
  font-size: 10em;
  color: rgba(0, 0, 0, 0.25);
}
.soap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0) rotate(335deg);
  z-index: 2;
  pointer-events: none;
  transition: 0.1s;
}
body:hover .soap {
  transform: translate(-50%, -50%) scale(0.5) rotate(335deg);
}
i {
  position: absolute;
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
  animation: animate 2s ease-in forwards;
}
@keyframes animate {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--x) var(--y));
  }
}
i::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(#fff, transparent);
  transform: scale(0.25) translate(-70%, -70%);
}
